<div class="table-responsive">
  <table class="table table-striped table-borderless align-middle">
    <thead>
      <tr>
        <th scope="col">Movie</th>
        <th scope="col" class="text-end">Category</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movies; let i = index">
        <ng-container *ngIf="movie.name.toLowerCase().includes(searchTerm)">
          <td>
            {{ i + 1 }} -
            <a routerLink="/game/{{ movie.url }}">{{ movie.name }}</a>
          </td>
          <td class="text-end">
            {{ movie.category }}
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>
