<form>
  <div class="btn-group ms-2" role="order" aria-label="Order Search">
    <button class="btn btn-outline-primary btn-sm" style="pointer-events: none">
      <i class="fa fa-picture-o"></i>
    </button>
    <div class="btn-group btn-group-sm" role="order">
      <input
        checked
        type="radio"
        class="btn-check"
        name="btnradio"
        id="size1"
        autocomplete="off"
        (click)="size('1x')"
      />
      <label class="btn btn-outline-primary" for="size1">1x</label>

      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="size2"
        autocomplete="off"
        (click)="size('2x')"
      />
      <label class="btn btn-outline-primary" for="size2">2x</label>

      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="size3"
        autocomplete="off"
        (click)="size('3x')"
      />
      <label class="btn btn-outline-primary" for="size3">3x</label>
    </div>
  </div>
</form>
