<div *ngIf="movie" class="movie-box">
  <div *ngIf="loading" class="movie-box-spinner">
    <div class="spinner-border" style="width: 3rem; height: 3rem" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div class="movie-box-favorite">
    <i *ngIf="!favo" class="fa fa-heart-o" (click)="favorite()"></i>
    <i *ngIf="favo" class="fa fa-heart text-danger" (click)="unfavorite()"></i>
  </div>
  <img
    class="movie-box-cover"
    src="{{ movie.logo }}"
    alt="{{ movie.name }}"
    [ngStyle]="{ width: imgWidth, 'max-width': imgMaxWidth }"
    (click)="play()"
  />
</div>
