<div *ngIf="movie" class="movie-box">
  <div
    *ngIf="loading || !loaded"
    class="movie-box-spinner"
  >
    <app-spinner></app-spinner>
  </div>
  <div class="movie-box-favorite">
    <i *ngIf="!favo" class="fa fa-heart-o" (click)="favorite()"></i>
    <i *ngIf="favo" class="fa fa-heart text-danger" (click)="unfavorite()"></i>
  </div>
  <img
    class="movie-box-cover"
    src="{{ movie.logo }}"
    alt="{{ movie.name }}"
    [ngStyle]="{ width: imgWidth, 'max-width': imgMaxWidth }"
    (click)="play()"
    (load)="imgLoaded()"
  />
</div>
