<div class="tools">
  <!-- <h2>
      <i class="fa fa-search"></i>
      <span> Movie Search</span>
    </h2> -->
  <app-search-term
    (searchTerm)="searchTerm($event)"
    class="search-field"
  ></app-search-term>
  <div class="filters">
    <app-movie-list-category
      (searchCategory)="searchCategory($event)"
      style="margin: 5px"
    ></app-movie-list-category>
    <app-movie-list-sort
      (searchSort)="searchSort($event)"
      style="margin: 5px"
    ></app-movie-list-sort>
    <app-movie-list-order
      (searchOrder)="searchOrder($event)"
      style="margin: 5px"
    ></app-movie-list-order>
    <app-movie-list-display
      (displayShow)="displayShow($event)"
      style="margin: 5px"
    ></app-movie-list-display>
  </div>
</div>
<div class="container-fluid">
  <app-movie-list-table
    *ngIf="display == 'list'"
    [movies]="movies"
  ></app-movie-list-table>
</div>
<!-- <app-movie-list-covers
  *ngIf="display == 'images'"
  [movies]="movies"
></app-movie-list-covers> -->
<app-movie-grid *ngIf="display == 'images'" [movies]="movies"></app-movie-grid>
<app-movie-list-load-more (loadMore)="loadMore()"></app-movie-list-load-more>
