<div class="container-fluid mt-4">
  <div class="navbar mb-4">
    <h2>
      <i class="fa fa-search"></i>
      <span> Movie Search</span>
    </h2>
    <div class="filters">
      <app-movie-list-category
        (searchCategory)="searchCategory($event)"
      ></app-movie-list-category>
      <app-movie-list-sort
        (searchSort)="searchSort($event)"
      ></app-movie-list-sort>
      <app-movie-list-order
        (searchOrder)="searchOrder($event)"
      ></app-movie-list-order>
      <app-movie-list-display
        (displayShow)="displayShow($event)"
      ></app-movie-list-display>
    </div>
    <app-search-term (searchTerm)="searchTerm($event)"></app-search-term>
  </div>
  <app-movie-list-table
    *ngIf="display == 'list'"
    [movies]="movies"
  ></app-movie-list-table>
  <app-movie-list-covers
    *ngIf="display == 'images'"
    [movies]="movies"
  ></app-movie-list-covers>
  <app-movie-list-load-more (loadMore)="loadMore()"></app-movie-list-load-more>
</div>
