<div class="dropdown">
  <div
    class="user-image"
    data-bs-toggle="dropdown"
    aria-expanded="false"
    style="
      background-image: url('https://us.123rf.com/450wm/koblizeek/koblizeek2001/koblizeek200100050/138262629-man-icon-profile-member-user-perconal-symbol-vector-on-white-isolated-background-.jpg');
    "
  ></div>
  <!-- <div
    class="user-image"
    data-bs-toggle="dropdown"
    aria-expanded="false"
    style="background-image: url('{{ user.image }}');"
  ></div> -->
  <ul class="dropdown-menu dropdown-menu-end">
    <li>
      <a class="dropdown-item" routerLink="/profile">
        <i class="fa fa-user fa-fw"></i>
        <span> {{ user.username }}</span>
      </a>
    </li>
    <li>
      <a class="dropdown-item" routerLink="/my-list">
        <i class="fa fa-heart fa-fw"></i>
        <span> Minha Lista</span>
      </a>
    </li>
    <li><hr class="dropdown-divider" /></li>
    <li>
      <a class="dropdown-item" style="cursor: pointer" (click)="logout()">
        <i class="fa fa-sign-out fa-fw"></i>
        <span> Sair</span>
      </a>
    </li>
  </ul>
</div>
